<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--    1.加入mvc和context命名空间-->
    <!--    2.mvc注解驱动，同时解决springMvc回写数据乱码问题-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

<!--    3.配置视图解析器：声明前缀和后缀-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!--    4.静态资源权限可放-->
    <mvc:default-servlet-handler/>

<!--    5.组件扫描：扫描web层的Controller-->
    <context:component-scan base-package="com.cn.controller"/>

<!--    6.配置权限拦截器-->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--&lt;!&ndash;            配置对哪些资源执行拦截器操作&ndash;&gt;-->
<!--            <mvc:mapping path="/**"/>-->
<!--&lt;!&ndash;            配置哪些资源应排除拦截操作&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/user/login"/>-->
<!--            <bean class="com.cn.interceptor.PrivilegeInterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

<!--    7.配置异常处理器-->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
<!--&lt;!&ndash;        默认错误视图 error.jsp&ndash;&gt;-->
<!--        <property name="defaultErrorView" value="error"/>-->
<!--        <property name="exceptionMappings">-->
<!--            <map>-->
<!--&lt;!&ndash;                其他异常视图&ndash;&gt;-->
<!--                <entry key="org.springframework.dao.EmptyResultDataAccessException" value="error1"/>-->
<!--            </map>-->
<!--        </property>-->
<!--    </bean>-->
<!--    8.自定义异常处理器-->
<!--    <bean class="com.cn.exception.MyExceptionResolver"/>-->
</beans>